:root {
  --main-color: #000000;
  --secondary-color: #121212;
  --grey-up-color: #2a2a2a;
  --grey-down-color: #242424;
  --white-color: #ffffff;
  --secondary-white-color: #b3b3b3;
  --accent-color: #1db954;
  --bright-accent: #1ed760;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

nav a:last-child {
  color: var(--secondary-white-color);
}

nav a:hover {
  color: var(--white-color);
}

html {
  background-color: var(--main-color);
  color: var(--white-color);
}

html,
body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bg-secondary {
  background-color: var(--secondary-color);
}

img {
  width: 3rem;
}

p {
  color: var(--secondary-white-color);
}

.container {
  padding: 1rem;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

section {
  min-height: 100%;
}

.scrolly {
  overflow-x: hidden;
  overflow-y: scroll;
}

.border-radius-sm {
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
  visibility: hidden;
}

section.right:hover::-webkit-scrollbar-track,
section.right:hover::-webkit-scrollbar,
section.right:hover::-webkit-scrollbar-thumb,
article:hover::-webkit-scrollbar-track,
article:hover::-webkit-scrollbar,
article:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

header,
article,
section.right {
  padding: 1rem;
}

.left {
  width: 20vw;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.right {
  width: 80vw;
}

header {
  height: 20vh;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1rem;
}

nav a {
  font-size: 20px;
}

article {
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

article h2 {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.card-sm {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-sm:hover {
  cursor: pointer;
  background-color: var(--grey-down-color);
}

.card-sm-img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.container-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.group-title {
  width: 75%;
}

.group-button {
  width: 25%;
}

.card-md {
  padding: 1rem;
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  background-color: var(--grey-down-color);
  transition: all 500ms ease-in-out;
}

.card-md:hover {
  cursor: pointer;
  background-color: var(--grey-up-color);
}

.card-md:hover .button {
  opacity: 1;
  cursor: pointer;
}

.card-md:hover .card-img {
  box-shadow: 0 0 10px 0 var(--secondary-color);
}

.card-md .card-title {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.head-tittle {
  margin-bottom: 2rem;
}

h2.head-tittle {
  margin-top: 1rem;
}

h3.head-tittle {
  margin-top: 2rem;
}

.button {
  position: relative;
  width: 10px;
  height: 10px;
  background: none;
  border: none;
  opacity: 0;
}

.button:hover:before,
.button:hover:after {
  background-color: var(--bright-accent);
}

.button {
  width: 10px;
  height: 10px;
  transition: all 0.5s ease;
}

.button:before,
.button:after {
  transition: all 0.5s ease;
  position: absolute;
  content: '';
  left: 20px;
  top: 0;
  width: 20px;
  height: 30px;
  background-color: var(--secondary-white-color);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.button:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.active .button::before,
.active .button::after {
  background-color: var(--bright-accent);
}

.active .button {
  opacity: 1;
}
